body {
    background-color: black;
    color: steelblue;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {

}

.center {
    display: table;
    margin: 0 auto;
}

.menu {
    background-color: white;
    padding: 20px;
}

.menu-item {
    margin: 20px;
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}